/* feuille de style du site phase 2 webforce 3  */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/* https://developer.mozilla.org/fr/docs/Web/CSS/box-sizing */

* {
    
    box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* goole font utilisés dans le style : oswald, lemonada, anton  */

/* 
font-family: 'Oswald', sans-serif;

font-family: 'Lemonada', cursive;

font-family: 'Anton', sans-serif; */


body {
    background-image: url(../img/concrete-texture.png);
}
/* *******************************************************TITRES TEXTES ECT********************************************************/

h1 {
    font-family: 'Anton', sans-serif;
    font-size: 44px;
    color: #2980b9 ;
    text-align: center;
    letter-spacing: 1px;
}

h2 {
    font-size: 35px;
    color: #2c3e50;
    padding: 15px;
    font-weight: bold ;
    /* ombre portée sur le lettrage  */
    text-shadow: 1px 1px 2 px #aaa;
}

h3 {
    font-size: 22px;
    color: #2c3e50;
    font-weight: bold ;
    /* ombre portée sur le lettrage  */
    text-shadow: 1px 1px 2 px #aaa;
    padding: 15px;
}

h4{
   text-align: center;
   margin-top: 30px;
}



blockquote {
    font-size: 120%;
    font-style: italic;
}



/******************************************************************* HEADER INDEX  ********************************************************/
header {
    background-color: #2c3e50;
    height: 175px;
}
#logo {
    background-color: #2c3e50;
    width: 25%;
    float: left;
    text-align: center;
    padding: 15px;
    
}
.bouton {
    position: fixed;
    bottom: 170px;
    right: 170px;
}

/* img [src="../img/logo.png"] {
    padding: 10px;
} */

#slogan {
    background-color: #2c3e50;
    width: 50%;
    float: left;
    padding-top: 50px;
}

#social {
    
    width: 25%;
    float: left;
}
.haut {
    position: fixed;
    bottom: 10px;
    right: 10px;
    font-size: 350%;
    background: transparent;
    border: none;
    color: #2c3e50;
    
}
/********************************************************************** DEBUT NAV*************************************************************************/

nav {
    background: #2980b9;
    height: 70px;
    padding: 15px;
    border-bottom: 8px solid #6acafc;
    text-align: center;
}

nav a {
    margin: 10px;
    padding: 2px 10 px;
    border-radius: 10px 0px ;
    border: 2px solid #eee;
    background: #6acafc;

    font-family: 'Oswald', sans-serif;
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    transition: 0.5s;

}
 
nav a:hover {
    background: #2c3e50;
    color: white;
}

.active {
    background: #2c3e50;
    color: #fff;
}

/***************************************ZONING INDEX******************************************************************/
main {
    background: rgba(178, 178, 178, 0.30);
    margin: 0 auto;
    width: 1200px;
    
}

aside {
    height: 250px;
    background: #a6d6c3;
}

body section {
    /* background: #daf7a6; */
    margin-top: 50px;
    padding: 20px;
}

footer {
    background: #2980b9;
    height: 30px;
}

/******************************************************************LA PAGE ZONING*******************************************************/
 
/* le zoning 1  */
#zoning1 {
    background: #ffd6d6;
    border: 1px solid white;
    width: 798px;
    margin: auto;
    text-align: center;
}
#zoning1 header{
    background-color:#f7f39a ;
    height: 70px;

}

#zoning1 aside {
    background-color:#10828c ;
    height: 525px;
    float: left;
    width: 20%;
    color: white;

}

#zoning1 section {
    height: 525px;
    width: 80%;
    background-color: #38817a;
    float: left;
    margin: 0;
    padding: 0;
}


/*le zoning 2*/
#zoning2 {
    background: #ffd6d6;
    border: 1px solid white;
    width: 798px;
    margin: auto;
    text-align: center;
}
#zoning2 header {
    background-color: teal;
    height: 70px;
}

#zoning2 aside {
    background-color: tomato;
    height: 500px;
    width: 20%;
    float: left;
}
.milieu {
    background-color: thistle;
    width: 60%;
    float: left;
    height: 500px;
}
/* Le zoning 3  */

#zoning3 {
    background: #ffd6d6;
    border: 1px solid white;
    width: 800px;
    margin: auto;
    text-align: center;
    color: white;
}

#zoning3 section {
    height: 525px;
    width: 50%;
    /* border: 1px solid black; */
    background-color: #38817a;
    float: left;
    margin: 0;
    padding: 0;
}
#zoning3 footer {
    height: 70px;
    float: left;
    width: 100%;
}

/* Le zoning 4  */

#zoning4 {
    background: #ffd6d6;
    text-align: center;
    width: 600px;
    margin: 0 auto;
    border: red dotted 20px;
}

#zoning4 header {
    height: 100px;
    background: #10828c;
}

#zoning4 nav {
    height: 50px;
    background: #bed4e2;
    border: none;

}

#zoning4 section {
    height: 200px;
    background: red;
}

#zoning4 footer {
    height: 100px;
    background: #6acaf6;
}





/* Le zoning 5  */
#zoning5 {
    background: #ffd6d6;
    text-align: center;
    margin: 0 auto;
 
}

#zoning5 header {
    height: 50px;
    background: #F8D771;
}

#zoning5 nav {
    height: 50px;
    background: #bed4e2;
    border: none;

}

#zoning5 section {
    width: 100%;
    height: 200px;
}

#zoning5 .section {
    padding: 0;
}


#zoning5 section  .z1, .z2, .z3, .z4 {
    float: left;
    text-align: center;
    border: solid 1px black;
    width: 50%;
    height: 250px;
}

#zoning5 .z1, .z4 {
    background-color: #F8D771;
}

#zoning5 .z2, .z3 {
    background-color: #fce38a;
}

#zoning5 section {
    height: 500px;
    background: #10828c ;
    
}

#zoning5 footer {
    height: 100px;
    background: #6acaf6;
}

/* Le zoning 6  */

#zoning6 {
    width: 800px;
    margin: 0 auto;
    color: white;
    text-align: center;
}

#zoning6 header {
    background: #40a497;
    height: 180px;
}
.haut1 {
    background: #203562;
    float: left;
    width: 25%;
    height: 100%;


}

.haut2 {
    background: #3e588f;
    float: left;
    width: 50%;
    height: 100%;
}

.haut3 {
    background: #203562;
    float: left;
    width: 25%;
    height: 100%;

}

#zoning6 nav {
    background: #085269;
    height: 80px;
    border: none;
}

#zoning6 aside{
    background: #446878;
    float: left;
    width: 25%;
    height: 750px;
}

#zoning6 section {
    float: left;
    width: 75%;
    margin: 0;
    padding: 0;
    height: 250px;
}

.slideshow {
    background: #314a52;
    height: 200px;
}
#zoning6 .a{
    background: #c0c5cd;
    float: left;
    width: 50%;
    height: 250px;
}
#zoning6 .b{
    background: #203562;
    float: left;
    width: 50%;
    height: 250px;
}
#zoning6 .c{
    background: #c0c5cd;
    width: 25%;
    float: left;
    height: 250px;
}
#zoning6 .e{
    background: #c0c5cd;
    width: 25%;
    float: left;
    height: 250px;
}
#zoning6 .d{
    background: #203562;
    width: 25%;
    float: left;
    height: 250px;
}
#zoning6 .f{
    background: #203562;
    width: 25%;
    float: left;
    height: 250px;
}
#zoning6 footer {
    background: #0B5269;
}
#zoning6 .foot {
    background: #0b5269;
}


/***************************************************************** FLOAT**********************************************************************************/
.clear {
    clear: both;
}

/*****************************************LA PAGE TEXTE*********************************************************/
.oswald p {
    font-family: 'Oswald', sans-serif;
}

/*********************************************LA PAGE SELECTEUR*************************************************/
.select p {
    color: red;
}
.select p:first-of-type {
    color: pink;
}
.select p:last-of-type {
    color: pink;
}
.select p:nth-of-type(5), .select p:nth-of-type(6) {
    color:black;
}
.select div:not(.zoneB) {
    font-weight: bold;
}
.select .zoneA {
    color: #f56f56;
}
.select .zoneB {
    color: #996633;
}
.select .zoneB .couleurBleu {
    color: blue;
    font-size: 16px;
}
.select #zoneC {
    color: #98f32f;
}
.select #zoneD span {
    color: #32ff32;
    font-size: 30px;
    font-style: italic;
}

/*********************************************LA PAGE IMAGE*************************************************/

.imageFond {
    background: url(../img/fond.jpg) no-repeat;
    background-size: cover;
    /* https://developer.mozilla.org/fr/docs/Web/CSS/background-size  */
}

.imageFond p{
    width: 75%;
    margin: 100px auto 200px auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.60);
    font-size: 120%;
    border-radius: 10px;

}

/* on pointe cette umage spécifique  */
img[src="../img/toureiffel.jpg"] {
    width: 200px;
    margin: auto;
    display: block;
}

/* animations sur les images  */
.image {
    margin: 20px;
    border: 5px solid #eee;
    box-shadow: 4px 4px 4px rgba(71, 35, 20, 0.877) ;
    transition: 1s;
}

.image:hover {
    transform: rotate(-7deg);
    border: 15px solid #eee;
}

.rotation360:hover {
    transform: rotate(-360deg)
}

/*********************************************LA PAGE TABLEAU*************************************************/

.tableau table {
    width: 80%;
    border: 2px solid #6495ed;
    margin: auto;
    font-weight: bold;
}

.tableau thead, .tableau tfoot {
    background: #d0e3fa;
    border: 1px solid #6495ed;
}

.tableau tbody {
    border: 1px solid #6495ed;
}

.tableau th {
    border: 1px solid #6495ed;
    padding: 5px;
    width: 40%;
}

.tableau td {
    border: 1px solid #6495ed;
    padding: 5px;
    text-align: center;
    font-size: 80%;
}

/*********************************************LA PAGE LISTES*************************************************/

ul.fruit li {
    display: inline;
    margin: 15px;
}

li .fa {
    font-size: 90%;
    color: #6495ed; 
}

li .fa:hover {
    font-size: 150%;
    color: #3e588f;
}

.imbriquee, .imbrique ul {
    padding-left: 15px;
}

.imbriquee {
    cursor: pointer;
}

.imbriquee ul {
    /*display n'affiche pas le contenue de l'élément */
    display: none;
}

.europe:hover ul, .asie:hover ul {
    /*display block je fais réapparaitre les élements de la ul*/
    display: block;
}

.ordonnee li {
    list-style: decimal;
}


.imbriquee li ul li:hover {
    font-size: 150%;
    background-attachment: #E74C3C;
    display: inline;
    box-shadow: 5px 10px 10px grey;
    transition-duration: 1s;
}

/*********************************************LA PAGE FORMULAIRE*************************************************/

form {
    width: 60%;
    background: #2c3e50;
    margin: 0 auto;
    padding: 20px;
    color: #ecf0f1;
    border-radius: 15px;
}

label {
    margin: 10px 0;
    width: 40%;
    display: inline-block;

}

textarea {
    resize: none;
}

label[for="orange"], label[for="fraise"], label[for="poire"] {
    width: 15%;
    padding-left: 45px;
}




/*********************************************LA PAGE LIEN ET MENU*************************************************/
/* style des liens  */
.ancre {
    text-align: center;

}
.ancre a {
    margin: 8px;
    padding: 5px 10px;
    border-radius: 15px;
    background: #2c3e50;
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    box-shadow: 0px 0px 10px 3px #000;
    font-family: 'oswald', sans serif;
}

.ancre a:hover {
    transition-duration: 0.5s;
    box-shadow: none;
    text-shadow: 1px 5px 10px grey  ;

} 

#lien a {
    text-decoration: none;
    color: #2980b9;
    display: inline-block;
    margin-bottom: 15px;
    
    
}

#lien a:hover {
    color: #f16529;
}

/* menu  */
#menu nav {
    background: transparent;
    border: none;
}

#menu ul {
        text-align: center;
}

#menu ul li {
    display: inline;
    /* https://www.alsacreations.com/article/lire/1209-display-inline-block.html  */
}

#menu nav a {
    padding: 10px;
    color: grey;
    background: #ddd;
    /* ease-in  lent au début et accélère de plus en plus sur la fin  */
    transition: 1s ease-in;
}

#menu nav a:hover {
    color: #fff;
    background: #069;
}

/* le menu déroulant  */
#menuDeroulant {
    height: 650px;
}

#menuDeroulant nav {
    border: none;
    background: transparent;
    width: 90%;
    margin: 0 auto;
}


#menuDeroulant nav ul li {
     float: left;
     width: 20%;

}

#menuDeroulant ul ul {
    display: none;
}

#menuDeroulant nav ul li ul li {
    border-top: 1px solid #464646;
    width: 100%;
}


#menuDeroulant nav li {
    background: #ccc;
}

#menuDeroulant nav li a {
    /* om met les a dans les li de toutes les ul en display block  */
    display: block;
    color: #000;
    padding: 4px 0 4px;
}

#menuDeroulant ul {
    text-align: center;
}
#menuDeroulant nav ul.niveau1 li.sousMenu:hover ul.niveau2 {
    /* les ul qui sont de classe niveau 2 et qui sont dans un li de class souMenu sur lequel on a un hover, li qui se trouvent dans la ul de class niveau 1 sont display block  */
    display: block;
}


/*********************************************LA PAGE MULTIMEDIA*************************************************/

.videoFond {
    padding-left: 0;
    padding-right: 0;
}

.videoFond video {
    width: 100%;
    position: absolute;
    /* ordre d'emplacement position en bas  */
    z-index: 1;
}

.videoTexte {
    /* position relative au parent  */
    position: relative;
    width: 100%;
    height: 500px;
}

.videoFond p {
    position: absolute;
    left: 250px;
    top: 150px;
    /* z-index: 2 en position 2  */
    z-index: 2;
    width: 500px;
    margin: auto;
    background: rgba(255, 255, 255, 0.60);
    padding: 20px;
    border-radius: 15px;
    font-size: 120%;
}


iframe[src="https://www.youtube.com/embed/Gcqu2V5lBZo"] {
    width: 100%;
    height: 700px;
}

.audio {
    text-align: center;
}

.youtube {
    padding: 100px;
    
}


/*********************************************LA PAGE position*************************************************/
/* Position absolute  */

.centre {
    background: #33cccc;
    width: 500px;
    height: 200px;
    margin: 0 auto;
}

.absolute {
    background: orange;
    width: 100px;
    height: 100px;
    /* élément de position absolue est positionné par rapport à son ancètre  */
    position: absolute;
    left: 10%;
    top: 24%;
}
 /* Position Relative  */
.relative {
    background: #2d5c7f;
    width: 400px;
    height: 400px;
    position: relative;
    bottom: 10px;
    left: 100px;
}

.relative div {
    background: orange;
    width: 50px;
    height: 50px;
    /* élément de position absolue est positionné par rapport à son parent  */
    position: absolute;
    top: 0px;
    right: 0px;
}

.trente {
    width: 30%;
    font-size: 22px;
    background: #3c1b1f;
    font-weight: bold;
    color: white;
    padding: 20px;
}

.cinquante {
    width: 50%;
    font-size: 22px;
    background: #b2b2b2;
    font-weight: bold;
    color: white;
    padding: 20px;
    margin-top: 7px;
}

.cent {
    width: 100%;
    font-size: 22px;
    background: #3c1b1f;
    font-weight: bold;
    color: white;
    padding: 20px;
    margin-top: 7px;
}
/* Le float  */
.float {
    height: 170px;
    width: 170px;
    background: #f8D771;
    margin: 10px;
    text-align: center;
    font-size: 22px;
    color: #004445;
    padding-top: 2px;
    border: 2px solid darkred;
    line-height: 170px;
    float: left;
}
.dernier {
    height: 170px;
    width: 170px;
    background: #f8D771;
    margin: 10px;
    text-align: center;
    font-size: 22px;
    color: #004445;
    padding-top: 2px;
    border: 2px solid darkred;
    line-height: 170px;
    /* float: left; */
}

/* exercice sur le float  */

.zone {
    height: 70px;
    background: orchid;

}

.zone1, .zone2, .zone3, .zone4 {
    height: 250px;
    border: 1px solid #e5e4cc;
    width: 25%;
    float: left;
}
.zone1, .zone3 {
    background: #698474;
}
.zone2, .zone4 {
    background: #bac7a7
}

/* Exercice sur le flex  */
.flex {
    /* /* display flex les éléments s'alignent dans le parent  */
    display: flex;
    /* les éléments occupent la largeur du parent avec un espace égal autour  */
    justify-content: space-between;
    /* justify-content: space-around; */
    flex-direction: row-reverse;
    /* flex-direction: column-reverse; */
}

.flex div {
    width: 150px;
    height: 150px;
    background: darkblue;
    text-align: center;
    font-size: 50px;
    color: white;
    line-height: 150px;
}



/* page animation */
 
.infoBulle
{
    height: 250px;
    width: 500px;
    margin: auto;
    padding-top: 15px;
    background-color: #444;
    /* inset effet d'ombre portée à l'intérieur  */
    box-shadow: 0 0 50px #222 inset;
   
}

.infoBulle p {
    text-align: center;
    padding-top: 30px;
}

.infoBulle a {
    padding: 5px 15px;
    border-radius: 3px;
    text-decoration: none;
    color: #ffffff;
    text-shadow: 0 -2px 0 black;
}

.infoBulle a:hover {
    background: rgba(0, 0, 0, 0.4);
    text-shadow: 0 1px 2px #000;
    box-shadow: 0 1px 0 rgba(255, 255, 255, .4  );
    color: #fff;
}

.infoBulle a span {
    position: absolute;
    padding: 15px;
    margin-top: 23px;
    margin-left: -35px;
    background: rgba(0, 0, 0, .9);
    border-radius: 3px;
    box-shadow: 0 0 2px rgba(0, 0, 0, .5);
    opacity: 0;
    transform: scale(0) rotateZ(-12deg);
    transition: .25s;
    color: #09c;
}

.infoBulle a:hover  span{
    opacity: 1;
    transform: scale(1) rotateZ(0);
}

.infoBulle a span:before{
    content: '';
    position: absolute;
    top: -6px;
    left: 10px;
    border-bottom: 6px solid rgba(0,0,0,.9);
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
}











